*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.toc

*.mp4

*.html

helbert/**/*.png
helbert/**/*.html

arduino_device/data/**/*.png
arduino_device/data/**/*.html
# !arduino_device/**/metadata/*

android_app/data/**/*.png
android_app/data/**/*.html